html, body{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #eeeeee;
}

#container {
  	background:url(mala_temporary.png) no-repeat center center;
	height:370px;
	width:632px;
	left: 50%;
	top: 50%;
	text-align: center; 
	margin-left: -316px; /*half width*/
	margin-top: -185px; /*half height*/
	position:absolute;
}

.link{
	background-color: transparent; 
	cursor: pointer;
	position:relative;
	width:235px; height:35px;
	left:395px;

}

#address{
	 top:237px;
}
#mail{
	top: 238px;

}
#fbook{
	top: 239px;

}
#twitter{
	top: 240px;

}
