html, body{
	margin: 0;
	padding: 0;
}
body{
	background-color: #eeeeee;
}

#container {
  	background:url(mala_temporary.png) no-repeat center center;
	height:370px;
    width: 632px;
    margin-left: -316px; /*half width*/
    margin-top: -185px; /*half height*/
	left: 50%;
	top: 50%;
	position:absolute;
}

#logotype {
    float: left;
    width: 374px;
    height: 370px;
    background-color: transparent;
}

#dlinks, #contacts{
    float: left;
    list-style-type: none;
    text-align: left;
    padding: 0;
    font-family: 'Dosis', 'sans-serif';
    color: #333333;
}

#dlinks li, #contacts li{
    font-size: 14px;
    margin-bottom: 18px !important;
}

#dlinks{
    margin: 68px 0 0 28px;
}

#contacts{
    margin: 37px 0 0 43px;
}

#contacts li a{
    color: #00cccc;
    text-decoration: none;
}

#contacts li a:hover{
    color: #ff0099;
}

#contacts li:before{
    font-family: 'FontAwesome';
    font-size: 18px;
    margin:0 5px 0 -15px;
}

#address:before{
    content: '\f041';
}

#mail:before{
    content: '\f0e0';
}

#fbook:before{
    content: '\f082';
}

#twitter:before{
    content: '\f081';
}
